html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #555555;
  scroll-behavior: smooth; }

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.intro {
  background: url("../images/bg-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff; }
  .intro .intro__name {
    font-size: 70px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
    margin-left: 5%;
    position: relative;
    padding-left: 0;
    width: 70%; }
    .intro .intro__name::after {
      content: "";
      display: block;
      width: 6.5rem;
      height: 3px;
      background-color: #cc147f;
      position: absolute;
      bottom: -10%;
      left: 1%; }

@keyframes blinker {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes blinker {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
    .intro .intro__name .intro__name--dot {
      text-decoration: blink;
      animation-name: blinker;
      -webkit-animation-name: blinker;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      animation-direction: alternate;
      -webkit-animation-direction: alternate; }
  .intro .intro__role {
    margin-top: 10%;
    margin-left: 5%;
    line-height: 1.5;
    font-size: 18px;
    padding-left: 1%;
    width: 65%; }
  .intro .intro__social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin-left: 5%; }
  .intro .intro__social-link {
    margin-right: 35px; }
    .intro .intro__social-link img {
      width: 35px; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 5%; }
  .info .info__box {
    width: 100%;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 10%; }
  .info .info__box--hide {
    opacity: 1; }
  .info .info__box__header {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #cc147f;
    margin-bottom: 10px; }
  .info .info__box--even {
    background-color: #f1f1f1; }
  .info .info__box__desc {
    border-bottom-color: #c8c6cb30;
    padding-bottom: 15px;
    line-height: 1.5;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .info .info__box__more {
    margin-top: 5%; }
  .info .more__aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .info .more__aboutme__left {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: #26bfb5;
    color: #fff;
    position: relative; }
    .info .more__aboutme__left::after {
      display: block;
      width: 1px;
      height: 150px;
      background-color: rgba(0, 0, 0, 0.15);
      position: absolute;
      content: "";
      left: 50%; }
  .info .more__aboutme__right {
    padding-top: 0;
    width: 85%;
    margin-left: 5%; }
    .info .more__aboutme__right .more__aboutme__header {
      margin-top: 6%;
      text-transform: capitalize; }
    .info .more__aboutme__right .more__aboutme__content {
      line-height: 1.5; }
  .info .info__box__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    padding: 0.3rem 0.6rem; }
    .info .info__box__link:hover {
      background-color: #cc147f; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 5px;
  width: 90%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 19px; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 5px;
  text-transform: capitalize;
  width: 90%;
  border-bottom: 1px solid #8888883b;
  margin-left: 3%;
  margin-bottom: 5%; }

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.modal-footer {
  padding: 2px 16px;
  background-color: #cc147f;
  color: white; }

.modal-frontend {
  list-style-type: none;
  margin-left: 5%;
  padding-left: 0;
  line-height: 2;
  text-transform: capitalize;
  width: 40%; }
  .modal-frontend li {
    position: relative;
    font-size: 18px; }
    .modal-frontend li img {
      width: 10px;
      margin-top: -100px; }
    .modal-frontend li .expert__level {
      display: block;
      width: 100%;
      height: 5px;
      background-color: #26bfb5;
      margin-bottom: 10px; }
    .modal-frontend li .intermediate__level {
      display: block;
      width: 80%;
      margin-left: 20%;
      height: 5px;
      background-color: #cccc00;
      margin-bottom: 10px; }

.modal-frontend--right {
  text-align: right; }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .intro {
    width: 65%; } }

/* 
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    margin-top: 15%; }
  .info {
    margin-top: 15%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .info .info__box {
      width: 50%; }
    .info .info__box__desc--borderless {
      border-bottom: 0; }
    .info .info__box__link--special {
      display: inline-block;
      margin-top: 32px;
      padding-top: 15px;
      border-top: 1px solid;
      border-top-color: #c8c6cb30; } }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1025px) {
  .intro {
    margin-top: 15%; }
  .intro {
    width: 40%; }
  .info {
    margin-top: 15%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .info .info__box {
      width: 50%; }
    .info .info__box__desc--borderless {
      border-bottom: 0; }
    .info .info__box__link--special {
      display: inline-block;
      margin-top: 32px;
      padding-top: 15px;
      border-top: 1px solid;
      border-top-color: #c8c6cb30; } }
