html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #555555;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.intro {
  background: url("../images/bg-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  .intro__name {
    font-size: 70px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
    margin-left: 5%;
    position: relative;
    padding-left: 0;
    width: 70%;

    &::after {
      content: "";
      display: block;
      width: 6.5rem;
      height: 3px;
      background-color: #cc147f;
      position: absolute;
      bottom: -10%;
      left: 1%;
    }

    @keyframes blinker {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
    @-webkit-keyframes blinker {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
    .intro__name--dot {
      text-decoration: blink;
      animation-name: blinker;
      -webkit-animation-name: blinker;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      animation-direction: alternate;
      -webkit-animation-direction: alternate;
    }
  }

  .intro__role {
    margin-top: 10%;
    margin-left: 5%;
    line-height: 1.5;
    font-size: 18px;
    padding-left: 1%;
    width: 65%;
  }

  .intro__social-links {
    display: flex;
    width: 70%;
    margin-left: 5%;
  }

  .intro__social-link {
    margin-right: 35px;
    img {
      width: 35px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 50px 15px 0 15px;

  .info__box {
    width: 100%;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 5px;

    a {
      color: #26bfb5;

      &:hover {
        color: #017069;
      }
    }
  }

  .hideme {
    opacity: 0;
  }

  .info__box__header {
    text-transform: capitalize;
    font-size: 25px;
  }

  .info__box__desc {
    border-bottom: 1px solid;
    border-bottom-color: #c8c6cb30;
    padding-bottom: 15px;
    line-height: 1.5;
    hyphens: auto;
  }

  .info__box__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #b8623f;
  }
}

@mixin largeIntroSection {
  .intro {
    margin-top: 15%;
  }
}

@mixin largeInfoSection {
  .info {
    margin-top: 15%;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .info__box {
      width: 50%;
    }

    .info__box__desc--borderless {
      border-bottom: 0;
    }

    .info__box__link--special {
      display: inline-block;
      margin-top: 32px;
      padding-top: 15px;
      border-top: 1px solid;
      border-top-color: #c8c6cb30;
    }
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .intro {
    width: 65%;
  }
}

/* 
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  @include largeIntroSection;
  @include largeInfoSection;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1025px) {
  @include largeIntroSection;
  .intro {
    width: 40%;
  }
  @include largeInfoSection;
}
