html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #555555;
  scroll-behavior: smooth; }

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.intro {
  background: url("../images/bg-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff; }
  .intro .intro__name {
    font-size: 70px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
    margin-left: 5%;
    position: relative;
    padding-left: 0;
    width: 70%; }
    .intro .intro__name::after {
      content: "";
      display: block;
      width: 6.5rem;
      height: 3px;
      background-color: #cc147f;
      position: absolute;
      bottom: -10%;
      left: 1%; }

@keyframes blinker {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes blinker {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
    .intro .intro__name .intro__name--dot {
      text-decoration: blink;
      animation-name: blinker;
      -webkit-animation-name: blinker;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;
      animation-direction: alternate;
      -webkit-animation-direction: alternate; }
  .intro .intro__role {
    margin-top: 10%;
    margin-left: 5%;
    line-height: 1.5;
    font-size: 18px;
    padding-left: 1%;
    width: 65%; }
  .intro .intro__social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin-left: 5%; }
  .intro .intro__social-link {
    margin-right: 35px; }
    .intro .intro__social-link img {
      width: 35px; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 15px 0 15px; }
  .info .info__box {
    width: 100%;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 5px; }
    .info .info__box a {
      color: #26bfb5; }
      .info .info__box a:hover {
        color: #017069; }
  .info .hideme {
    opacity: 0; }
  .info .info__box__header {
    text-transform: capitalize;
    font-size: 25px; }
  .info .info__box__desc {
    border-bottom: 1px solid;
    border-bottom-color: #c8c6cb30;
    padding-bottom: 15px;
    line-height: 1.5;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .info .info__box__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #b8623f; }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .intro {
    width: 65%; } }

/* 
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    margin-top: 15%; }
  .info {
    margin-top: 15%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .info .info__box {
      width: 50%; }
    .info .info__box__desc--borderless {
      border-bottom: 0; }
    .info .info__box__link--special {
      display: inline-block;
      margin-top: 32px;
      padding-top: 15px;
      border-top: 1px solid;
      border-top-color: #c8c6cb30; } }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1025px) {
  .intro {
    margin-top: 15%; }
  .intro {
    width: 40%; }
  .info {
    margin-top: 15%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .info .info__box {
      width: 50%; }
    .info .info__box__desc--borderless {
      border-bottom: 0; }
    .info .info__box__link--special {
      display: inline-block;
      margin-top: 32px;
      padding-top: 15px;
      border-top: 1px solid;
      border-top-color: #c8c6cb30; } }
